body {
	-webkit-font-smoothing: antialiased;
	font-weight: lighter;
	font-family: Roboto, Verdana, sans-serif;
	padding-top: 50px;
}
#main-menu {
	padding-top: 20px;
	position:fixed;
}
#main-menu li {
	margin: 5px 0;
}
#main-menu li {
	background-color: rgb(250, 250, 250);
}
#main-menu a li {
	background-color: white;
}
.tab-content pre {
	border-radius: 0 0 4px 4px;
	border-top: none;
}
pre {
	background-color: white;
	padding: 10;
	border-color: rgb(221, 221, 221);
}
.row {
	margin-bottom: 50px;
}
.row > div {
	padding-bottom: 20px;
}

#dialog-interface {
	position: relative;
}
#dialog-interface > .panel  {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 300px;
}
#dialog-log  {
	padding-bottom: 34px;
}
#phrase-input {
	position: absolute;
	bottom: 0;
	left: 0;
	/*border-width: 1px 0 0 0;*/
	border-color: rgb(221, 221, 221);
	border-radius: 0px 0px 4px 4px;
	box-shadow: none;
	margin-right: 15px;
}
blockquote footer:before {
	content: '';
}
.blockquote-reverse footer:after {
	content: '';
}
#dialog-log {
	padding-right: 15px;
}
.tab-pane pre {
	max-height: 600px;
	overflow: auto; 
}
.ipt-report {
	border-width: 0 0 1px 0;
	border-style: dashed;
	cursor: pointer;
}
